@import "./variables.styl"

body
  background-color $bgColor
  margin 0
  color $fontLight
  background-image url("../../assets/img/earth.png")
  background-position 0 0
  background-repeat no-repeat
  background-size cover
  padding-bottom 28px

*
  font-family "Outfit", sans-serif
  font-optical-sizing auto
  font-style normal

h2
 margin-bottom 20px
 margin-top 48px

.container
  max-width 1350px
  padding 0 20px
  margin auto

.w
  &-{100}
    width 100% !important
  &-{50}
    width 50% !important

.text
  &-right
    text-align right
  &-center
    text-align center
  &-xl
    font-size 2rem
    font-weight bold
  &-large
    font-size 1.5rem
  &-big
    font-size 1.25rem
  &-medium
    font-size 0.875rem
  &-regular
    font-size 0.75rem
  &-bold-medium
    font-size 1rem
    font-weight bold
  &-small
    font-size 0.625rem

.d
  &-none
    display none
  &-flex
    display flex
  &-row
    flex-direction row
  &-column
    flex-direction column

.flex
  &-wrap
    flex-wrap wrap
  &-auto
    flex auto

.align-items
  &-center
    align-items center

.justify-content
  &-between
    justify-content space-between
  &-evenly
    justify-content space-evenly

.radius
  border-radius 20px

.margin
  &-auto
    margin auto

.pt
  &-{8}
    padding-top 8px
  &-{12}
    padding-top 12px
  &-{20}
    padding-top 20px

.pb
  &-{12}
    padding-bottom 12px

.gap
  &-{4}
    gap 4px
  &-{12}
    gap 12px
  &-{24}
    gap 24px
  &-{44}
    gap 44px
    @media screen and (max-width 1024px)
      gap 28px

.toast
  position absolute
  bottom 0
  right 0
  margin 20px
  border-radius 20px
  padding 20px 40px
  p
    margin 0
  &-error
    background-color #852929
  &-title
    font-weight bold
    margin-bottom 8px

.bg-gray
  background-color $greyBg

// Component
#search-bar
  margin-top 28px
  margin-bottom 36px
  #search
    background-color $greyBg
    background-image url("../../assets/img/Search.svg")
    background-position 8px 50%
    background-repeat no-repeat
    border-radius 30px
    border 0
    padding 12px 8px 12px 40px
    min-width 240px
    color $fontLight
    &::placeholder
      font-size 1rem

.city-card
  align-self start
  @media screen and (max-width 1024px)
    align-self center

.city-card,
.location-card
  padding 20px 24px
  min-width 340px

.day-card
  padding 12px 20px

.hour-card
  width 64px
  padding 16px 8px

.weather-container
  height 35px
  width 35px
  background-size contain
  &-snow
    background-image  url("../../assets/img/13d.png")
    background-position 50% 50%
    background-repeat no-repeat

.progress
  width 100%
  height 8px
  border-radius 20px
  background-color $bgColor

.progress-bar
  width 135px
  height 8px
  border-radius 20px
  background-color $blueBar

.hour-span
  border-bottom 1px solid $bgColor

#radio-temperature
  background-color $greyBg
  border-radius 32px
  padding 4px
  label
    margin 4px
    &:hover
      cursor pointer
  .radio-active
    display inline-block
    background-color #f1f4f9
    color $bgColor
    text-align center
    border-radius 32px
    width 32px
    height 32px
    font-size 0.875rem
    line-height 2rem
    font-weight bold
  input
    opacity 0
    width 0

