@import "./variables.styl"

body
  background-color $bgColor
  margin 0
  color $fontLight

.container
  max-width 1350px
  padding 0 20px
  margin auto

.w-100
  width 100% !important

.d
  &-flex
    display flex
  &-row
    flex-direction row
  &-column
    flex-direction column

.justify-content
  &-between
    justify-content space-between
  &-evenly
    justify-content space-evenly